<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CSE 135 HW Lives!</title>
</head>

<body>
  <h1>Hi <%= name %></h1>
	<h1>CSE 135 HW1 Lives!</h1>
	<h2>Reporting.zhaoxinglyu.site</h2>
	<script>
		document.write(`Live @ ${new Date()}`);
	</script>

</body>

<!-- we use method-override b/c we want to do an app.delete() but forms can only do GET and POST -->
<form action="/authapp/logout?_method=DELETE" method="POST">
	<button type="submit">Log Out</button>
</form>

<form action="/authapp/users" method="GET">
	<button type="submit">User Manager</button>
</form>

</html>
