<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users Information</title>
    <script src="https://cdn.zinggrid.com/zinggrid.min.js"></script>
	<style>
		body {
			background: #e6e6e6;
		}

		zg-cell {
			height: "200";
			max-height: "200";
			vertical-align: top;
		}
	</style>
</head>

<body>
    <h1>Users Information</h1>
	<!-- If you can figure it out, try to find out how to edit the form fields, set default values, make stuff required, etc. -->
	<zing-grid caption="Users" compact="" zebra="" role="grid" viewport="tablet-portrait" editor-controls
		layout-controls pager page-size="5" src="https://reporting.zhaoxinglyu.site/authapp/123123"></zing-grid>

	<div>
		<h2 style="text-align: center;">Help Section</h2>

		<ul>
			<li>After adding a new user, your inputs will show on the chart. If you wish to see the actual inputs in the table, refresh the page or chart. Also note, edits before refreshing will not change the values in the table yet.</li>
			<li>When filling out the form for a new user, make sure to fill out ALL form fields.</li>
			<li>Name can be any set of characters (up to 255).</li>
			<li>Email should have an @ in it. Can be any set of characters (up to 255).</li>
			<li>Password can be any set of characters (up to 255).</li>
			<li>isAdmin must be an integer. Negative numbers will become 0, positive numbers will become 1.</li>
			<li>Id will be changed to a timestamp of the current time.</li>
		</ul>
	</div>
</body>
</html>