#container {
    display:flex;
}

#team_members {
    /* push to the right */
    margin-left: auto;

    /* grey */
    background-color: #D3D3D3;
}

.sub_section {
    /* grey */
    background-color: #D3D3D3;

    /* Remove space between header and list*/
    margin-top: 0px;

    /* Add some padding around list to make grey look nicer */
    padding-top: 5px;
    padding-bottom: 5px;
}

.section_header {
    /* Remove space between header and list*/
    margin-bottom: 0px;
}

footer {
    /* stick to bottom of page */
    position: fixed;
    bottom: 0;
}